{% extends 'base_new.html' %}
{% load static %}
{% load common %}
{% block content %}
<div class="container">
    <!-- ========================= SECTION MAIN  ========================= -->
    <section class="section-main padding-y">
        <main class="">
            <div class="">
                <h6 class="title-category">Update Password</h6>
                <div class="row">
                    <aside class="col-lg col-md-3">
                        {% include 'ecommerce/myaccount-leftmenu-new.html' %}
                    </aside> <!-- col.// -->
                    <div class="col-md-9 col-xl-9 col-lg-9">
                    
                        {% if messages %}
                        <ul class="messages" style="text-align: center;">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{message.tags}}" {% endif %} >{{message}}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        
                        <form id="pass_update" class="pass_change" action="{% url 'ecommerce:change_password' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="from" value="{{request.GET.from}}">
                        <div class="card right-box edit-profile">
                            <div class="profile-form">
                                <div class="form-group form-row">
                                    <label class="col-md-5">Password :</label>
                                    <div class="col-md-7">
                                        <input type="password" name="password1" value="" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <label class="col-md-5">Confirm Password :</label>
                                    <div class="col-md-7">
                                        <input type="text" name="password2" value="" class="form-control"/>
                                    </div>
                                </div>
                                
                                <div class="text-center">
                                    <button class="btn btn-primary" type="submit">SAVE</button>
                                </div>							
                            </div>
                            
                        </div>
                        </form>

                    </div> <!-- col.// -->

                </div> <!-- row.// -->

            </div> <!-- card-body.// -->
        </main> <!-- card.// -->

    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->

    <!-- =============== SECTION REGION =============== -->
    <!-- =============== SECTION REGION .//END =============== -->		
</div>
<!-- container end.// -->
<article class="">
    <img src="{% static 'img/new-info.png' %}" class="w-100">
</article>



<script>
    
    $(document).ready(function () {
        $('#pass_update').submit(function(){
            $('.c-error').remove();
            if($('input[name="password1"]').val() != '' && ($('input[name="password1"]').val() == $('input[name="password2"]').val())){
                return true;
            }else{
                $('.pass_change').prepend("<p class='c-error'>Password does not match!</p>");
                return false;
            }
            
        });
    });

</script>
{% endblock %}