{% extends 'base_front.html' %}
{% load static %}
{% block content %}

<div class="contact__form">
    <h5>SEND MESSAGE</h5>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{message.tags}}" {% endif %} >{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action="{% url 'consultation:index' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        {{ image_form }}
        <button type="submit" class="site-btn">Submit</button>
    </form>
</div>

{% endblock %}